<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:insert="fragment/header :: headerfiles">

<body>
<div th:replace="fragment/menu ::menugauche">
</div>

<div id="content">
    <div th:replace="fragment/header ::navbar"></div>
    <table class="table table-bordered">

        <form th:action="@{sponsors}" method="get">
            <div class="md-form active-purple-2 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" name="motCle" th:value="${mc}" placeholder="Rechercher">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>

            </div>
        </form>


        <tr>
            <th>Nom de l'entreprise</th>
            <th> Email</th>
            <th>Photo</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>

        <tbody>

        <tr th:each="sponsor : ${pagesSponsors.content}">

            <td th:text="${sponsor.titreSponsor}"></td>
            <td th:text="${sponsor.emailSponsor}"></td>
            <td>
                <img th:src="@{getPhoto(id=${sponsor.idSponsor})}" width="100" height="100">

            </td>
            <td>
                <center><a class="btn btn-secondary" th:href="@{formulaireUpdate(id=${sponsor.idSponsor})}"> <i
                        class="fas fa-edit"></i></a>
                </center>
            </td>
            <td>
                <center><a class="btn btn-danger" onclick="return confirm('Êtes-vous sûr  de supprimer le sponsor?')"
                           th:href="@{supprimer(id=${sponsor.idSponsor})}"> <i class="fas fa-trash-alt"></i></a>
                </center>
            </td>
            <!--formulaireUpdate link -->


        </tr>
        </tbody>
    </table>
    <div class="alert alert-danger" th:if="${ #lists.isEmpty(pageContent)}">
        Aucun résultat pour <p th:text="${mc}"></p>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="p : ${pages}" th:class="${p==pageCourante}? 'page-item active': ''">
                <!-- $ acceder model -->
                <a class="page-link" th:text="${p}" th:href="@{sponsors(page=${p})}"></a>
            </li>

        </ul>
    </nav>
</div>
</div>
</div>
</div>
</div>
</div>
<header th:insert="fragment/header.html ::scriptFooter"></header>


</body>
</html>
