<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head_part">

<body class="logo-center card-no-border fix-sidebar">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>

<div id="main-wrapper">

    <div th:insert="fragments/top_bar.html :: topbar"></div>

    <div th:insert="fragments/sidebar.html :: left_sidebar"></div>

    <div class="page-wrapper">

        <div class="container-fluid">

            <div class="row page-titles">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="text-themecolor mb-0 mt-0">Liste des sponsors</h3>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                 th:if="${messageDelete}">
                                <strong th:text="${messageDelete}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${messageUpdate}">
                                <strong th:text="${messageUpdate}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${messageAdd}">
                                <strong th:text="${messageAdd}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <!--   <table name="customerTable" id="customerTable"
                                      class="display tablesaw  table-bordered table-hover table "
                                      data-tablesaw-mode="stack" width="100%" cellspacing="0">-->
<!--
                            <table name="customerTable" id="customerTable" class="display" width="100%" cellspacing="0">

                                <thead>
                                <tr>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Nom de
                                        l'entreprise
                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Email</th>
                                   <th scope="col" data-tablesaw-priority="persist" class="border">Photo</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Modifier</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Supprimer</th>


                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                   <th scope="col" data-tablesaw-priority="persist" class="border">Id
                                    </th>

                                    <th scope="col" data-tablesaw-priority="persist" class="border">Nom de
                                        l'entreprise
                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Email</th>


                                </tr>

                                </tfoot>
                                <tbody>
                                &lt;!&ndash; <tr th:each="sponsor : ${sponsorlist}">

                                     <td th:text="${sponsor.titreSponsor}"></td>
                                     <td th:text="${sponsor.emailSponsor}"></td>
                                     <td>
                                         <img th:src="@{getPhoto(id=${sponsor.idSponsor})}" width="100" height="100">

                                     </td>
                                     <td>
                                         <center><a class="btn btn-circle btn-info" title="Modifier"
                                                    th:href="@{formulaireUpdate(id=${sponsor.idSponsor})}"> <i
                                                 class="fas fa-edit"></i></a>
                                         </center>
                                     </td>
                                     <td>
                                         <center><a  class="btn btn-circle btn-danger" title="supprimer"
                                                     onclick="return confirm('Êtes-vous sûr  de supprimer le sponsor?')"
                                                     th:href="@{supprimer(id=${sponsor.idSponsor})}"
                                                     th:if="${sponsor.affecte == 0}"> <i
                                                 class="fas fa-trash-alt"></i></a>
                                         </center>

                                         <center>
                                         <a th:if="${sponsor.affecte == 1}" class="btn btn-circle btn-danger disabled"
                                         ><i
                                                 class="fas fa-trash-alt"></i></a>
                                         </center>
                                     </td>


                                 </tr>&ndash;&gt;

                                </tbody>
                            </table>
-->

                            <table name="customerTable" id="customerTable" class="display" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>titre</th>
                                    <th>email</th>

                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>titre</th>
                                    <th>email</th>

                                </tr>

                                </tfoot>
                                <tbody>
                                </tbody>
                            </table>
                            <!--   <div class="alert alert-danger" th:if="${ #lists.isEmpty(pageContent)}">
                                   Aucun résultat pour <p th:text="${mc}"></p>
                               </div>
                               <nav aria-label="Page navigation example">
                                   <ul class="pagination">
                                       <li class="page-item" th:each="p : ${pages}"
                                           th:class="${p==pageCourante}? 'page-item active': ''">
                                           &lt;!&ndash; $ acceder model &ndash;&gt;
                                           <a class="page-link" th:text="${p}" th:href="@{sponsors(page=${p})}"></a>
                                       </li>

                                   </ul>
                               </nav>-->
                        </div>
                    </div>

                </div>
            </div>


        </div>

        <footer class="footer"> © 2020</footer>

    </div>

</div>
<!--
<script>

    $(document).ready(function () {

        $('#item tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        // DataTables est un plug-in jQuery open-source permettant de dynamiser un tableau HTML
        var otable = $('#item').DataTable();

        // Apply the search
        otable.columns().every(function () {

            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });

</script>

-->

<!--<style>   tfoot {
    display: table-header-group;
}</style>-->
<div th:insert="fragments/script_footer.html ::scriptFooter"></div>

</body>


</html>
