<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head_part">

<body class="logo-center card-no-border fix-sidebar">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>


<div id="main-wrapper">

    <div th:insert="fragments/top_bar.html :: topbar"></div>

    <div th:insert="fragments/sidebar.html :: left_sidebar"></div>

    <div class="page-wrapper">

        <div class="container-fluid">

            <div class="row page-titles">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="text-themecolor mb-0 mt-0">Liste des sponsors</h3>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4 class="card-title"><span  class="fas fa-hands-helping"></span> Liste des sponsors</h4>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                 th:if="${messageDelete}">
                                <strong th:text="${messageDelete}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${messageUpdate}">
                                <strong th:text="${messageUpdate}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${messageAdd}">
                                <strong th:text="${messageAdd}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <table  id="tableSponsor"
                                   class="display tablesaw  table-bordered table-hover table " style="text-align:center"
                                   data-tablesaw-mode="stack" width="100%" cellspacing="0">

                                <tfoot>
                                <tr>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Nom de l'entreprise
                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Email</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border" hidden="hidden">
                                        Photo
                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border" hidden="hidden">
                                        Modifier
                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border" hidden="hidden">
                                        Supprimer
                                    </th>


                                </tr>

                                </tfoot>

                                <thead>
                                <tr>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Nom de
                                        l'entreprise
                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Email</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Photo</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Modifier</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Supprimer</th>


                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="sponsor : ${sponsorlist}">

                                    <td th:text="${sponsor.titreSponsor}"></td>
                                    <td th:text="${sponsor.emailSponsor}"></td>
                                    <td>
                                        <img th:src="@{getPhoto(id=${sponsor.idSponsor})}" width="100" height="100">

                                    </td>
                                    <td>
                                        <center><a class="btn btn-circle btn-info" title="Modifier"
                                                   th:href="@{formulaireUpdate(id=${sponsor.idSponsor})}"> <i
                                                class="fas fa-edit"></i></a>
                                        </center>
                                    </td>
                                    <td>
                                        <center><a class="btn btn-circle btn-danger" title="supprimer"
                                                   onclick="return confirm('Êtes-vous sûr  de supprimer le sponsor?')"
                                                   th:href="@{supprimer(id=${sponsor.idSponsor})}"
                                                   th:if="${sponsor.affecte == 0}"> <i
                                                class="fas fa-trash-alt"></i></a>
                                           <!-- <center>


                                                <button type="button" th:if="${sponsor.affecte == 0}"
                                                        class="btn btn-circle btn-danger" data-toggle="modal"
                                                        data-target="#exampleModal">
                                                    <i class="fas fa-trash-alt"></i></button>
                                            </center>

                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Effacer
                                                                Cotisation</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Êtes-vous sûr de supprimer le sponsor ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Fermer
                                                            </button>
                                                            <a type="button"
                                                               class="btn  btn-danger" title="supprimer"
                                                               th:href="@{supprimer(id=${sponsor.idSponsor})}">
                                                                Supprimer</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>-->

                                        </center>

                                        <center>
                                            <a th:if="${sponsor.affecte == 1}"
                                               class="btn btn-circle btn-danger disabled"
                                            ><i
                                                    class="fas fa-trash-alt"></i></a>
                                        </center>
                                    </td>


                                </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>

                </div>
            </div>


        </div>


        <div th:insert="fragments/footer.html :: footerPage"></div>


    </div>

</div>

<div th:insert="fragments/script_footer.html ::scriptFooter"></div>
<script th:src="|../js_files/search_filter.js|"></script>
</body>


</html>
