<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head_part">

<body class="fix-header card-no-border fix-sidebar">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>

<div id="main-wrapper">

    <div th:insert="fragments/top_bar.html :: topbar"></div>

    <div th:insert="fragments/sidebar.html :: left_sidebar"></div>

    <div class="page-wrapper">

        <div class="container-fluid">

            <div class="row page-titles">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="text-themecolor mb-0 mt-0">Liste des événements</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item "> Événements > Liste des événements</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                 th:if="${messageDelete}">
                                <strong th:text="${messageDelete}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${messageUpdate}">
                                <strong th:text="${messageUpdate}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${messageAdd}">
                                <strong th:text="${messageAdd}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <table class="tablesaw  table-bordered table-hover table" data-tablesaw-mode="stack">

                                <form th:action="@{listCotisation}" method="get">
                                    <div class="md-form active-purple-2 mb-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="motCle" th:value="${mc}"
                                                   placeholder="Rechercher">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                     th:if="${ #lists.isEmpty(pageContent)}">
                                    Aucun résultat pour <strong th:text="${mc}"></strong>
                                    <a type="button" class="close" data-dismiss="alert"
                                       aria-label="Close" href="/membres/listeMembres">
                                        <span aria-hidden="true">&times;</span>
                                    </a>
                                </div>
                                <tr>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Nom de la
                                        cotisation
                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Montant</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Date Début</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Date Fin</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Modifier</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Supprimer</th>
                                </tr>

                                <tbody>

                                <tr th:each="cotisation : ${pagesCotisations.content}">

                                    <td th:text="${cotisation.cotisationName}"></td>
                                    <td th:text="${cotisation.montant}"></td>
                                    <td th:text="${cotisation.dateDebut}"></td>
                                    <td th:text="${cotisation.dateFin}"></td>

                                    <td>
                                        <a class="btn btn-circle btn-primary" title="Modifier"
                                           th:href="@{formulaireUpdate(id=${cotisation.id})}"><i
                                                class="fas fa-edit"></i></a>

                                    </td>
                                    <td>
                                        <a onclick="return confirm('Êtes-vous sûr  de supprimer le sponsor?')"

                                           class="btn btn-circle btn-danger" title="supprimer" th:href="@{supprimer(id=${cotisation.id})}">
                                            <i
                                                    class="fas fa-trash-alt"></i></a>

                                    </td>


                                </tr>
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item" th:each="p : ${pages}"
                                        th:class="${p==pageCourante}? 'page-item active': ''">
                                        <!-- $ acceder model -->
                                        <a class="page-link" th:text="${p}" th:href="@{listCotisation(page=${p})}"></a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>


        </div>

        <footer class="footer"> © 2020</footer>

    </div>

</div>
</div>
<div th:insert="fragments/script_footer.html ::scriptFooter"></div>

</body>


</html>
