<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head_part">

<body class="logo-center card-no-border fix-sidebar">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>

<div id="main-wrapper">

    <div th:insert="fragments/top_bar.html :: topbar"></div>

    <div th:insert="fragments/sidebar.html :: left_sidebar"></div>

    <div class="page-wrapper">

        <div class="container-fluid">

            <div class="row page-titles">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="text-themecolor mb-0 mt-0">Liste des cotisations</h3>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card ">
                        <div class="card-header text-center">
                            <h4 class="card-title"><span class=" far fa-money-bill-alt"></span> Liste des cotisations
                            </h4>
                        </div>
                        <div class="card-body  text-black">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                 th:if="${messageDelete}">
                                <strong th:text="${messageDelete}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${messageUpdate}">
                                <strong th:text="${messageUpdate}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${messageAdd}">
                                <strong th:text="${messageAdd}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <table id="tableCotisation" class="tablesaw  table-bordered table-hover table"
                                   data-tablesaw-mode="stack" style="text-align:center">
                                <tfoot>
                                <tr>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Nom de la cotisation
                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Montant</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Date Début</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Date Fin</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border" hidden="hidden">
                                        Modifier
                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border" hidden="hidden">
                                        Supprimer
                                    </th>
                                </tr>
                                </tfoot>

                                <thead>
                                <tr>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Nom de la
                                        cotisation
                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Montant</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Date Début</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Date Fin</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Modifier</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="cotisation : ${pagesCotisations}">

                                    <td th:text="${cotisation.cotisationName}"></td>
                                    <td th:text="${cotisation.montant}"></td>
                                    <td th:text="${cotisation.dateDebut}"></td>
                                    <td th:text="${cotisation.dateFin}"></td>

                                    <td>
                                        <a class="btn btn-circle btn-secondary" title="Modifier"
                                           th:href="@{formulaireUpdate(id=${cotisation.id})}"><i
                                                class="fas fa-edit"></i></a>

                                    </td>
                                    <td>


                                        <center><a class="btn btn-circle btn-danger" title="supprimer"
                                                   onclick="return confirm('Êtes-vous sûr  de supprimer la cotisation?')"
                                                   th:href="@{supprimer(id=${cotisation.id})}">
                                            <i
                                                    class="fas fa-trash-alt"></i></a>
                                            </center>
                                    </td>


                                </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>

                </div>
            </div>


        </div>

        <footer class="footer"> © 2020</footer>

    </div>

</div>
<div th:insert="fragments/script_footer.html ::scriptFooter"></div>
<script th:src="|../js_files/search_filter.js|"></script>

</body>


</html>
