<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head_part">

<body class="logo-center card-no-border fix-sidebar">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>

<div id="main-wrapper">

    <div th:insert="fragments/top_bar.html :: topbar"></div>

    <div th:insert="fragments/sidebar.html :: left_sidebar"></div>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="text-themecolor mb-0 mt-0">Ma communauté</h3>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card ">
                        <div class="card-header text-center">
                            <h4 class="card-title"><span class="fas fa-users"></span> Liste des membres</h4>
                        </div>
                        <div class="card-body ">
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${sendMailMessage}">
                                <strong th:text="${sendMailMessage}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <table class="tablesaw  table-bordered table-hover table" data-tablesaw-mode="stack">
                                <form th:action="@{listeMembres}" method="get">
                                    <div class="md-form active-purple-2 mb-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="motCle" th:value="${mc}"
                                                   placeholder="Rechercher">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                     th:if="${ #lists.isEmpty(pageContent)}">
                                    Aucun résultat pour <strong th:text="${mc}"></strong>
                                    <a type="button" class="close" data-dismiss="alert"
                                       aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </a>
                                </div>
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th> Prénom</th>
                                    <th> Adhérent</th>
                                    <th> Téléphone</th>
                                    <th> Email</th>
                                    <th> Statut</th>
                                    <th>Envoyer Email</th>
                                    <th>Profil</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="membre : ${pagesMembres.content}">
                                    <td th:text="${membre.nom}"></td>
                                    <td th:text="${membre.prenom}"></td>
                                    <td> Adhérent</td>
                                    <td th:text="${membre.telephone}"></td>
                                    <td th:text="${membre.email}"></td>
                                    <td>
                                        <div class="progress mt-3">
                                            <div class="progress ">

                                                <div class="progress-bar bg-danger wow animated progress-animated"
                                                     th:style="'width:'+@{${membre.tauxEchange}}+'%; height:15px;'"
                                                     role="progressbar">
                                                    <span style="color: #000000" th:text="${{membre.tauxEchange}}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <center><a class="btn btn-circle btn-info"
                                                   th:href="@{sendmailUrL(id=${membre.email})}">
                                            <i class="far fa-envelope"></i></a>
                                        </center>
                                    </td>
                                    <td>
                                        <center><a class="btn btn-circle btn-secondary"
                                                   th:href="@{membreDetailUrl(id=${membre.email})}">
                                            <i class="fas fa-portrait"></i></a></center>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item" th:each="p : ${pages}"
                                        th:class="${p==pageCourante}? 'page-item active': ''">
                                        <!-- $ acceder model -->
                                        <a class="page-link" th:text="${p}"
                                           th:href="@{listeMembres(page=${p})}"></a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2020</footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<div th:insert="fragments/script_footer.html ::scriptFooter"></div>

</body>


</html>
