<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head :: head_part">


<body class="logo-center card-no-border fix-sidebar">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>

<div id="main-wrapper">

    <div th:insert="fragments/top_bar.html :: topbar"></div>

    <div th:insert="fragments/sidebar.html :: left_sidebar"></div>

    <div class="page-wrapper">

        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="text-themecolor mb-0 mt-0">Ma communauté</h3>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card ">
                        <div class="card-header text-center">
                            <h4 class="card-title"><span class="fas fa-users"></span> Liste des membres</h4>
                        </div>
                        <div class="card-body ">
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${sendMailMessage}">
                                <strong th:text="${sendMailMessage}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <table id="tableau" class="tablesaw  table-bordered table-hover table"
                                   data-tablesaw-mode="stack" style="text-align:center">

                                <thead>
                                <tr>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Nom</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Prénom</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Téléphone</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Email</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Adhérent</th>

                                    <th scope="col" data-tablesaw-priority="persist" class="border"> Statut</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Envoyer Email</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Profil</th>
                                </tr>
                                </thead>

                                <tbody>

                                <tr th:each="membre : ${pagesMembres}">
                                    <td th:text="${membre.nom}"></td>
                                    <td th:text="${membre.prenom}"></td>
                                    <td th:text="${membre.telephone}"></td>
                                    <td th:text="${membre.username}"></td>
                                    <td>
                                        <center><span class=" fas fa-star" style="color: #ff0020"></span></center>
                                    </td>

                                    <td>
                                        <div class="progress mt-3">
                                            <div class="progress ">

                                                <div class="progress-bar bg-danger wow animated progress-animated"
                                                     th:style="'width:'+@{${membre.tauxEchange}}+'%; height:15px;'"
                                                     role="progressbar">
                                                    <span style="color: #000000"
                                                          th:text="${{membre.tauxEchange}}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <center><a class="btn btn-circle btn-info"
                                                   th:href="@{sendmailUrL(id=${membre.username})}">
                                            <i class="far fa-envelope"></i></a>
                                        </center>
                                    </td>
                                    <td>
                                        <center><a class="btn btn-circle btn-success"
                                                   th:href="@{membreDetailUrl(id=${membre.username})}">
                                            <i class="fas fa-eye"></i></a></center>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Nom</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Prénom</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Téléphone</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Email</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border" hidden="hidden">
                                        Adhérent
                                    </th>

                                    <th scope="col" data-tablesaw-priority="persist" class="border" hidden="hidden">
                                        Statut
                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border" hidden="hidden">
                                        Envoyer Email
                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border" hidden="hidden">
                                        Profil
                                    </th>


                                </tr>

                                </tfoot>
                            </table>

                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <div th:insert="fragments/footer.html :: footerPage"></div>

        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<div th:insert="fragments/script_footer.html ::scriptFooter"></div>
<script th:src="|../js_files/search_filter.js|"></script>

</body>

</html>
