<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head th:insert="fragment/header :: headerfiles">

<body>
<div th:replace="fragment/menu ::menugauche"></div>


<div id="content">
    <div th:replace="fragment/header ::navbar"></div>
    <div class="container" th:object="${membre}">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">

                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block"
                                        th:text="${membre.nom}"></h2>
                                    <h2 class="d-block"
                                        th:text="${membre.prenom}"></h2>


                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab"
                                           href="#basicInfo" aria-selected="true">coordonnés
                                            membre</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="missions-tab" data-toggle="tab"
                                           href="#missions" aria-selected="false">Mission Bénévoles</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " id="dons-tab" data-toggle="tab"
                                           href="#dons" role="tab" aria-selected="true">Dons</a>
                                    </li>
                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Email</label>
                                            </div>
                                            <div class="col-md-8 col-6" th:text="${membre.email}">

                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Date de naissance </label>
                                            </div>
                                            <div class="col-md-8 col-6" th:text="${membre.dateNaissance}">

                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Gouvernerat de residance</label>
                                            </div>
                                            <div class="col-md-8 col-6" th:text="${membre.gouvernoratRes}">
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Occupation</label>
                                            </div>
                                            <div class="col-md-8 col-6" th:text="${membre.occupation}">

                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Genre</label>
                                            </div>
                                            <div class="col-md-8 col-6" th:text="${membre.genre} ">

                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Télèphone</label>
                                            </div>
                                            <div class="col-md-8 col-6" th:text="${membre.telephone} ">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="missions" role="tabpanel">
                                        Missions
                                    </div>
                                    <div class="tab-pane fade" id="dons" role="tabpanel">
                                        <table class="table table-active border">
                                            <thead>
                                            <tr>
                                                <th scope="col">Titre Bien</th>
                                                <th scope="col">Quantité données</th>
                                                <th scope="col">Date participation</th>
                                            </tr>
                                            </thead>
                                            <tbody th:each="p : ${participerBiens}">
                                            <tr>
                                                <td th:text="${p.bien.titreBien}"></td>
                                                <td th:text="${p.qteDonnee}"></td>
                                                <td th:text="${p.dateParticipation}"></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


</div>
</div>
</div>
<header th:insert="fragment/header.html ::scriptFooter"></header>

</body>
</html>
