<div th:fragment="menugauche" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Association</h3>

            </div>
            <ul class="list-unstyled components">
                <li><a href="/"> <i class="fas fa-home"></i>
                    Accueil</a>
                </li>
                <li><a href="/membres/listeMembres"> <i class="fas fa-address-card"></i> Ma communauté</a>
                </li>
                <li>

                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-calendar-plus"></i> Événements</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/evenement/formulaire"> Organiser
                                Événement</a>
                        </li>
                        <li>
                            <a href="/evenement/list"> Liste des Événements</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle"><i class="fas fa-money-bill"></i> Cotisations</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/cotisations/formulaire">Ajouter Cotisation</a>
                        </li>
                        <li>
                            <a href="/cotisations/listCotisation">Consulter Cotisation</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle"><i class="fas fa-hands-helping"></i> Sponsors</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <a href="/sponsors/formulaire"> Ajouter Sponsor</a>
                        </li>
                        <li>
                            <a href="/sponsors/sponsors">Consulter Sponsor</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fas fa-hands "></i>
                        Bénévoles</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-donate"></i> Donneurs</a>
                </li>
            </ul>


        </nav>
