<head th:fragment="head_part" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <title>Gestion Association Back</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/css/colors/blue.css" id="theme" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
-->
    <link rel="stylesheet" href="/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.css">
    <link href="/webjars/select2/4.0.6/dist/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/bootstrap_wysihtml5.css" rel="stylesheet">

    <link rel="stylesheet" href="/webjars/nvd3/1.8.1/build/nv.d3.min.css"/>
    <!--<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>


-->


    <style>#tableau_filter input {
        border-radius: 5px;
    }
    #tableDonneurs_filter input {
        border-radius: 5px;
    }
    #tableCotisation_filter input {
        border-radius: 5px;
    }
    #tableBenevole_filter input {
        border-radius: 5px;
    }
    #tableSponsor_filter input {
        border-radius: 5px;
    }
    #listevent_filter input {
        border-radius: 5px;
    }
    </style>

</head>

