<div th:fragment="left_sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- User profile -->


            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li><a href="/"><i class="fa fa-home"></i> <span class="hide-menu"> Accueil</span></a></li>
                    <li>
                    <li><a href="/membres/listeMembres"><i class="fas fa-users"></i> <span
                            class="hide-menu"> Ma communauté</span></a></li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false"><i class="fas fa-calendar-alt"></i><span
                                class="hide-menu"> Événements </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/evenement/formulaire">Organiser
                                Événement</a></li>
                            <li><a href="/evenement/list">Liste des Événements</a></li>


                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow " href="#" aria-expanded="false"><i class="far fa-money-bill-alt"></i><span
                                class="hide-menu"> Cotisations</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="/cotisations/formulaire"> Ajouter Cotisation</a>
                            </li>
                            <li>
                                <a href="/cotisations/listCotisation"> Consulter Cotisation</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow " href="#" aria-expanded="false"><i class="fas fa-hands-helping"></i><span
                                class="hide-menu"> Sponsors</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="/sponsors/formulaire"> Ajouter Sponsor</a>
                            </li>
                            <li>
                                <a href="/sponsors/sponsors"> Consulter Sponsor</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/mission/listbenevoles"><i class="fas fa-hand-holding-heart"></i> <span
                            class="hide-menu"> Bénévoles</span></a></li>
                    <li>
                    <li><a href="/bien/listDonneurs"><i class="fas fa-gift"></i> <span
                            class="hide-menu"> Donneurs</span></a></li>
                </ul>
            </nav>
        </div>

    </aside>
</div>
