<div th:fragment="left_sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- User profile -->

            <div class="user-profile">
                <!-- User profile image -->
                <div class="profile-img"><img src="/images/logo-icon.png" alt="homepage" class="dark-logo"/>
                </div>
            </div>
            <nav class="sidebar-nav ">
                <ul id="sidebarnav">
                    <li><a href="/"><span class="fa fa-home"></span> <span class="hide-menu"> Accueil</span></a></li>
                    <li>
                    <li><a href="/membres/listeMembres"><span class="fas fa-users"></span> <span
                            class="hide-menu"> Ma communauté</span></a></li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false"><span
                                class="fas fa-calendar-alt"></span><span
                                class="hide-menu"> Événements </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/evenement/formulaire">Organiser
                                Événement</a></li>
                            <li><a href="/evenement/list">Liste des Événements</a></li>


                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow " href="#" aria-expanded="false"><span class="far fa-money-bill-alt"></span><span
                                class="hide-menu"> Cotisations</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="/cotisations/formulaire"> Ajouter Cotisation</a>
                            </li>
                            <li>
                                <a href="/cotisations/listCotisation"> Consulter Cotisation</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow " href="#" aria-expanded="false"><span
                                class="fas fa-hands-helping"></span><span
                                class="hide-menu"> Sponsors</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="/sponsors/formulaire"> Ajouter Sponsor</a>
                            </li>
                            <li>
                                <a href="/sponsors/sponsors"> Consulter Sponsor</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/mission/listbenevoles"><span class="fas fa-hand-holding-heart"></span> <span
                            class="hide-menu"> Bénévoles</span></a></li>
                    <li>
                    <li><a href="/bien/listDonneurs"><span class="fas fa-gift"></span> <span
                            class="hide-menu"> Donneurs</span></a></li>
                </ul>
            </nav>
        </div>

    </aside>
</div>
