<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:insert="fragments/head :: head_part">

<body class="logo-center card-no-border fix-sidebar">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>


<div id="main-wrapper">

    <div th:insert="fragments/top_bar.html :: topbar"></div>

    <div th:insert="fragments/sidebar.html :: left_sidebar"></div>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="text-themecolor mb-0 mt-0">Liste des événements</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card ">
                        <div class="card-header text-center">
                            <h4 class="card-title"><span class=" far fa-calendar-alt"></span> Liste des événements</h4>
                        </div>
                        <div class="card-body  text-black">

                            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                 th:if="${messageDelete}">
                                <strong th:text="${messageDelete}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${messageUpdate}">
                                <strong th:text="${messageUpdate}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${message}">
                                <strong th:text="${message}"></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <table id="listevent" class="tablesaw  table-bordered table-hover table"
                                   data-tablesaw-mode="stack" style="text-align:center">
                                <tfoot>
                                <tr>

                                    <th scope="col" data-tablesaw-priority="persist" class="border">Titre

                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Date début</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Date fin</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"  style="visibility:collapse;">
                                        Detail
                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border"     style="visibility:collapse;">
                                        Actions
                                    </th>


                                </tr>
                                </tfoot>

                                <thead>
                                <tr>

                                    <th scope="col" data-tablesaw-priority="persist" class="border">Titre

                                    </th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Date début</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Date fin</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Detail</th>
                                    <th scope="col" data-tablesaw-priority="persist" class="border">Actions</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="event : ${evenements}">


                                    <td>
                                        <th:block>


                                            <p th:text="${event.titre}" style="display: inline"></p>
                                            <div th:if="${event.dateFin.before(dateJour)}" style="display: inline">
                                                                <span class="badge badge-dark">Passé
                                                                </span>
                                            </div>


                                        </th:block>
                                    </td>


                                    <td th:text="${event.dateDebut}">

                                    </td>
                                    <td th:text="${event.dateFin}"></td>
                                    <td>
                                        <a class="btn btn-circle btn-success"
                                           title="Détail"
                                           th:href="@{eventDetail(id=${event.id})}">
                                            <i class="fas fa-eye"></i></a>
                                    </td>


                                    <td>
                                        <a class="btn btn-circle btn-info" title="modifier"
                                           th:href="@{formulaireUpdateEvent(id=${event.id})}"> <i
                                                class="fas fa-edit"></i></a>



                                        <a class="btn btn-circle btn-danger" title="supprimer"
                                                   onclick="return confirm('Êtes-vous sûr  de supprimer l événement?')"
                                                   th:href="@{supprimer(id=${event.id})}"
                                                   th:if="${event.active == 0}"> <i
                                                class="fas fa-trash-alt"></i></a>

                                                    <a th:if="${event.active == 1}"
                                                       class="btn btn-circle btn-danger disabled"
                                                    ><i
                                                            class="fas fa-trash-alt"></i></a>
                                    </td>

                                </tr>

                                </tbody>


                            </table>

                        </div>
                    </div>

                </div>
            </div>


        </div>

        <div th:insert="fragments/footer.html :: footerPage"></div>

    </div>

</div>


<div th:insert="fragments/script_footer.html ::scriptFooter"></div>
<script th:src="|../js_files/search_filter.js|"></script>

</body>


</html>
