<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:insert="fragment/header :: headerfiles">

<body>
<div th:replace="fragment/menu ::menugauche">
</div>

<div id="content">
    <div th:replace="fragment/header ::navbar"></div>

    <div class="container">
        <h1>Liste des Bénévoles</h1>
        <div th:if="${#lists.isEmpty(userMissions)}">
            <div class="alert alert-danger" role="alert">
                La liste des dons est vide!!
            </div>
        </div>
        <div th:if="${not #lists.isEmpty(userMissions)}">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${message}">
                <strong th:text="${message}"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${messageFree}">
                <strong th:text="${messageFree}"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table table-active border">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Tél</th>

                    <th scope="col">Titre Mission</th>
                    <th scope="col">Événement</th>

                    <th scope="col">Date participation</th>
                    <th scope="col">Affecter</th>
                    <th scope="col">Libérer</th>


                </tr>
                </thead>


                <tbody th:each="p : ${userMissions}">

                <tr>
                    <td th:text="${p.user.nom}"></td>
                    <td th:text="${p.user.prenom}"></td>
                    <td th:text="${p.user.telephone}"></td>

                    <td th:text="${p.mission.titre}"></td>
                    <td th:text="${p.mission.evenement.titre}"></td>

                    <td th:text="${p.demandeDate}"></td>
                    <td>

                        <center><a th:if="${p.affected == 0}" class="btn btn-secondary " title="affecter"
                                   th:href="@{affectMission(id=${p.user.username},id2=${p.mission.id})}">
                            <i class="far fa-check-circle"></i></a>
                        </center>


                        <center><a th:if="${p.affected == 1}" class="btn btn-secondary disabled" title="affecter"
                                   th:href="@{affectMission(id=${p.user.username},id2=${p.mission.id})}">
                            <i class="far fa-check-circle"></i></a>
                        </center>
                    </td>

                    <td>
                        <center><a th:if="${p.affected == 1}" class="btn btn-danger" title="libérer"
                                   th:href="@{libererMission(id=${p.user.username},id2=${p.mission.id})}"><i
                                class="fas fa-ban"></i></a>
                        </center>
                        <center><a th:if="${p.affected == 0}" class="btn btn-danger disabled" title="libérer"
                                   th:href="@{libererMission(id=${p.user.username},id2=${p.mission.id})}"><i
                                class="fas fa-ban"></i></a>
                        </center>
                    </td>

                </tr>

                </tbody>
            </table>

            <center>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:each="p : ${pages}"
                            th:class="${p==pageCourante}? 'page-item active': ''">
                            <!-- $ acceder model -->
                            <a class="page-link" th:text="${p}" th:href="@{listbenevoles(page=${p})}"></a>
                        </li>

                    </ul>
                </nav>
            </center>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<header th:insert="fragment/header.html ::scriptFooter"></header>


</body>
</html>
